<% layout("/layouts/boilerplate") %>
<body>
    <div>
        <form action="/listings/admin/bookings" method="get">
            <button class="btn btn-dark"
               style="display: block; margin: 20px auto; width: 200px;">All Bookings</button>
        </form>
    </div>

    <div>
        <form action="/listings/admin/newListing" method="get">
            <button class="btn btn-dark"
               style="display: block; margin: 20px auto; width: 200px;">Add new Listing</button>
        </form>
    </div>

    <div>
        <form action="/listings/admin/listings" method="get">
            <button class="btn btn-dark"
               style="display: block; margin: 20px auto; width: 200px;">Edit Listings</button>
        </form>
    </div>
</body>